@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif ;
    background-color: rgb(90, 142, 220);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center; /*horizontal alignment */
    justify-content: center; /*Vertical alignment */
    height: 100vh; /* takes up 100% of the viewport allows it to float in the center*/
    overflow: hidden; /* Don't want scroll bars showing by default */
    margin: 0; 
}


.container{
    background-color:rgba(0, 0, 0, .2);
    padding: 3rem;
    border-radius:20px;
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container a {
    text-decoration: none;
    color: rgb(138, 185, 255);
}

.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: rgb(138, 185, 255);
    padding: 1rem;
    font-family: inherit;
    font-size: 1em;
    border: none;
    border-radius: 20px;
    color: #fff;
}

.btn:focus, .btn:hover{
    outline: none;
    background-color: rgb(90, 142, 220);
    transform: scale(.96);
    transition: .15s;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.form-control input {
    background-color: transparent;
    color: #fff;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 15px 0;
    font-size: 1em;
}

.form-control input:focus, .form-control input:valid{
    outline: 0;
    border-bottom-color: rgb(138, 185, 255);
}

.form-control label {
    position: absolute;
    top: 1rem;
    left: 0;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: .3s ease-in-out;
}

.form-control input:focus + label span,
.form-control input:valid + label span{
color: rgb(138, 185, 255);
transform: translateY(-30px);

}