@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    box-sizing: border-box;
    
}

body {
    background-color: rgb(56, 65, 69);
}

section {
    font-family: 'Robot', sans-serif ;
    display: flex;
    align-items: center; /*horizontal alignment */
    justify-content: center; /*Vertical alignment */
    height: 90vh; /* takes up 100% of the viewport allows it to float in the center*/
    overflow: hidden; /* Don't want scroll bars showing by default */
    margin: 0; 
}

img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
}

footer {
 color: white;
 text-align: center;
 justify-content: center;
 margin-bottom: 10%;
}

footer a {
    color: white;
}

.title{
    margin-top: 2%;
    margin-bottom: 0%;
    align-items: center;
    width: 100vw;
    text-align: center;
    color: rgb(236, 236, 236);
}


.container {
display: flex;
width: 90vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    flex: .5;
    margin: 10px;
    position: relative;
    transition: flex 1s ease-in .2s;
    box-shadow: 1px 1px rgb(18, 22, 23);
    
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 40px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 4;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity .4s ease-in .5s ;
}

@media(max-width: 480px) {
    .container{
        width: 100vw;
    }

    .panel:nth-of-type(4),.panel:nth-of-type(5) {
        display: none;
    }
}